.charts {
    margin: 1rem;
}

.charts > div {
    margin-left: 20rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}