.navbar{
    
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.logo{
    width: 5rem;
    height: 5rem;
}


.navbar-menu{
    position: relative;
    list-style: none;
    display: flex;
    gap: 4rem;
    color: white;
   align-items: center;
   margin-right: 2rem;

    

}

.links:hover{
    color: var(--light-blue);
    cursor: pointer;
}

.links{
    position: relative;
    text-decoration: none;
  color: white;
}

.links::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light-blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;


}
.links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}