.container-register {
  background-color: black;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding-bottom: 2rem;
}
.container-register .title-register {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  color: var(--light-green);
}

.user-details-register {
  display: flex;
  width: auto;
}
.button-register {
  display: flex;
}

.save-button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-error {
  padding: 10px 0px;
  color: red;
}

.cancel-button {
  background-color: #ef5350;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 584px) {
  .container-register {
    max-width: 100%;
  }
  form .user-details-register .input-box-register {
    margin-bottom: 15px;
    width: 100%;
  }

  .content-register form .user-details-register {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details-register::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container-register .content-register {
    flex-direction: column;
  }
}
