
  .signIn {
    padding-top: 50rem;
    width: 100%;
    height: 60px;
    background-image: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .signIn-container {
    margin-bottom: 45rem;
    display: flex;
    max-width: 60vw;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    transition-duration: 0.3s;
    background: black;
  }
  .signIn-title {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
    color: var(--light-green);
  }
  
  
  .signIn-left {
    padding: 60px 30px 20px;
    background: black;
    flex: 1.5;
    transition-duration: 0.5s;
    opacity: 1;
  }
  .signIn-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  .signIn-right img {
    width: 75%;
    margin-left: 4rem;
    transform: scale(1.1);
   
    
   
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 1.2s;
  }
  .modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
  }
  .signIn-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .signIn-button {
    margin-top: 8rem;
    margin-left: 5rem;
    position: absolute;
    padding: 0.5rem 3rem;
    outline: none;
    text-transform: uppercase;
    border: 0;
    color: black;
    border-radius: 20px;
    background: var(--light-green);
    transition: 0.3s;
    cursor: pointer;
  }
  .signIn-button:hover {
    background: white;
  }
  .signIn-label {
    margin-left: 1.5rem;
    font-size: 1rem;
  
    font-weight: 600;
    letter-spacing: 0.7px;
    color: white;
    transition: 0.3s;
  }
  .signIn-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  .signIn-forgot {
    color: white;
    margin-left: .9rem;
  }
  .signIn-link {
    color: var(--light-green);
    text-decoration: none;
    margin-left: 0.5rem;
  }
  .signIn-block input {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    color: gray;
  }

  .signIn-error {
    color:red;

  }
  
 
  @media (max-width: 750px) {
    .modal-container {
      max-width: 90vw;
    }
    .modal-right {
      display: none;
    }
  }
  