.register-container {
  display: flex;
  margin-left: 15.3rem;
  
  padding: 21rem;
  
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  transition-duration: 0.3s;
  background: black;
}
.register-title {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 700;
  color: var(--light-green);
}
.register-wrap {
  display: flex;
 }






.modal.is-open .register-left {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}
.register-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-form {
  
  
}

.register-button {
  margin-top: 6rem;
  margin-left: 10rem;
  position: absolute;
  padding: 0.5rem 3rem;
  outline: none;
  text-transform: uppercase;
  border: 0;
  color: black;
  border-radius: 20px;
  background: var(--light-green);
  transition: 0.3s;
  cursor: pointer;
}
.register-button:hover {
  background: white;
}
.register-label {
  margin-left: 0.1rem;
  margin-bottom: 5rem;
  font-size: 1rem;

  font-weight: 600;
  letter-spacing: 0.7px;
  color: white;
  transition: 0.3s;
}

.register-forgot {
  color: white;
  margin-left: 1rem;
  margin-top: 1rem;
}
.register-link {
  color: var(--light-green);
  text-decoration: none;
  margin-left: 0.5rem;
}


.register-block input {
  border-radius: 10px;
  font-size: 15px;
  color: gray;
  width: 120%;
}


@media (max-width: 750px) {
  .modal-container {
    max-width: 90vw;
  }
  
}
