.programs-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    
}

.plans-container{
    margin-top: -10rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}
.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 0 4rem 0 4rem; 
}
.plan{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    gap: 2rem;
    padding: 1.5rem;
    width: 20rem;
    border-radius: 10px;
}

.plan:hover{
    background-image: var(--gradient);
    
}
.plan>span:nth-of-type(1){
    fill: var(--white);
    width: 3rem;
    height: 3rem;

}

.plan>span:nth-of-type(2){
    font-size: 1.5rem;
    font-weight: bold;
    
}
.plan>span:nth-of-type(3){
    font-size: 3rem;
    font-weight: bold;
    
}
.plan>span:nth-of-type(5){
    font-size: 1rem;
}
.features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex:1;
}
.feature>img{
    width: 2rem;
}